.fr {
  float: right;
}
html {
  font-size: 100px;
}
.c333 {
  color: #333;
}
.c666 {
  color: #666;
}
.c444 {
  color: #444;
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset,
img {
  border: none;
}
em,
i {
  font-style: normal;
}
img {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px "SimSun", "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  color: #666;
  text-decoration: none;
}
body {
  font-family: "Microsoft Yahei", "微软雅黑";
}
header.mui-bar {
  height: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e58335;
  box-shadow: none;
}
header.mui-bar input {
  margin-bottom: 0rem;
  height: 0.5rem;
  border: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-left: 0.2rem;
  padding: 0;
}
header.mui-bar .iconfont {
  color: #fff;
}
.mui-content {
  background-color: #fff;
}
.mui-content .adv img {
  width: 100%;
}
.mui-content .topNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.58rem;
  background-color: #fff;
  color: #666;
  font-size: 0.24rem;
}
.mui-content .topNav .iconfont {
  margin: 0 auto;
  margin-bottom: 0.2rem;
  display: block;
  width: 0.64rem;
  height: 0.64rem;
  border-radius: 0.32rem;
  line-height: 0.64rem;
  text-align: center;
  color: #fff;
  background-color: #E02038;
}
.mui-content .address ul {
  height: 1.66rem;
}
.mui-content .address a {
  font-size: 0.24rem;
  display: flex;
  align-items: center;
}
.mui-content .address a span {
  margin-left: auto;
  margin-right: 0.3rem;
}
.mui-content .address img {
  width: 1.55rem;
  height: 1rem;
  margin-right: 0.33rem;
}
.mui-content .morning {
  padding-left: 0.2rem;
  display: flex;
  align-items: center;
  height: 0.82rem;
  font-size: 0.28rem;
}
.mui-content .morning a {
  color: #000;
}
.mui-content .morning .title {
  font-weight: bold;
  color: #F15E37;
  flex: 0 0 auto;
  padding-right: 0.2rem;
  margin-right: 0.2rem;
  border-right: 1px solid #ccc;
}
.mui-content .morning .newscontent {
  flex: 1 1 auto;
}
.mui-content .morningContent .mui-scroll-wrapper {
  height: 2.77rem;
}
.mui-content .morningContent .mui-scroll {
  height: 2.77rem;
}
.mui-content .morningContent a {
  width: 2.08rem;
  height: 2.77rem;
}
.mui-content .morningContent a:nth-child(1) {
  background-image: url(../images/find/find1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #E4F3F7 !important;
}
.mui-content .morningContent a:nth-child(2) {
  background-color: #FEF8E8 !important;
}
.mui-content .card .mui-card {
  margin: 0;
  box-shadow: none;
}
.mui-content .card img {
  width: 100%;
}
.mui-content .card .mui-card-content p {
  padding: 0.35rem 0.33rem 0.3rem 0.33rem;
}
.mui-content .card .mui-card-footer:before {
  display: none;
}
.mui-content .findlist {
  padding-bottom: 50px;
}
.mui-content .findlist .mui-table-view-cell:after {
  left: 0;
}
.mui-content .findlist a {
  font-size: 0.24rem;
  display: flex;
}
.mui-content .findlist a img {
  width: 3.12rem;
  height: 2.08rem;
  flex: 0 0 auto;
  margin-right: 0.3rem;
}
.mui-content .findlist a div {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}
.mui-content .findlist a div p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mui-content .mui-pull-bottom-pocket {
  bottom: 44px;
}
